/*
COLORS

Primary: #eb2f64
Primary light: #FF3366
Primary dark: #BA265D

Grey light 1: #faf9f9
Grey light 2: #f4f2f2
Grey light 3: #f0eeee
Grey light 4: #ccc

Grey dark 1: #333
Grey dark 2: #777
Grey dark 3: #999

*/
:root {
  --color-primary: #eb2f64;
  --color-primary-light: #FF3366;
  --color-primary-dark: #BA265D;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --shadow-dark: 0 2rem 6rem rgba(0,0,0,.3); }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-grey-dark-1);
  background-image: linear-gradient(to bottom right, var(--color-primary-light), var(--color-primary-dark));
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh; }

.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--color-grey-light-2);
  box-shadow: var(--shadow-dark);
  min-height: 50rem; }

.content {
  display: flex; }

.sidebar {
  background-color: var(--color-grey-dark-1);
  flex: 0 0 18%; }

.hotel-view {
  background-color: orangered;
  flex: 1; }

.header {
  height: 7rem;
  background-color: #fff;
  border-bottom: var(--color-grey-light-2);
  font-size: 1.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.title {
  height: 3.5rem;
  color: var(--color-primary);
  font-size: 2.5rem;
  font-weight: 300;
  display: flex;
  align-items: baseline;
  margin-left: 2rem; }
  .title__logo {
    height: 100%; }

.search {
  flex: 0 0 40%;
  display: flex;
  align-items: center;
  justify-content: center; }
  .search__input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    padding: .7rem 2rem;
    background-color: var(--color-grey-light-2);
    border: none;
    border-radius: 100px;
    width: 90%;
    transition: all .2s;
    margin-right: -2.5rem; }
    .search__input:focus {
      outline: none;
      width: 100%;
      background-color: var(--color-grey-light-3); }
    .search__input::-webkit-input-placeholder {
      font-weight: 100;
      color: var(--color-grey-light-4); }
  .search__button {
    border: none;
    background-color: transparent;
    fill: var(--color-grey-dark-3); }
    .search__button:focus {
      outline: none; }
    .search__button:active {
      transform: translateY(2px); }
  .search__icon {
    height: 2rem;
    width: 2rem; }

.user-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  color: var(--color-grey-dark-2); }
  .user-nav__icon-box, .user-nav__user {
    padding: 0 2rem;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center; }
    .user-nav__icon-box:hover, .user-nav__user:hover {
      background-color: var(--color-grey-light-2); }
  .user-nav__icon-box {
    position: relative; }
  .user-nav__icon {
    height: 2.25rem;
    width: 2.25rem;
    fill: var(--color-grey-dark-2); }
  .user-nav__notifications {
    font-size: .8rem;
    height: 1.8rem;
    width: 1.8rem;
    border-radius: 50%;
    background-color: var(--color-primary);
    color: #fff;
    position: absolute;
    top: 1.5rem;
    right: 1.1rem;
    display: flex;
    justify-content: center;
    align-items: center; }
  .user-nav__user-photo {
    height: 4rem;
    border-radius: 50%;
    margin-right: 1rem; }
