.hotel-view{
	flex: 1;
}

.gallery{
	display: flex;

	&__item{

	}

	&__photo{
		width: 100%;
		display: block;
	}
}

.overview{
	display: flex;
	align-items: center;
	border-bottom: 1px solid var(--color-grey-light-2);
	background-color: #fff;

	&__heading{
		color: var(--color-grey-dark-1);
		font-size: 2.3rem;
		font-weight: 300;
		text-transform: uppercase;
		letter-spacing: 1px;
		padding: 1.5rem 3rem;
	}

	&__stars{
		margin-right: auto;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__icon-star, 
	&__icon-location{
		fill: var(--color-primary);
		height: 2rem;
		width: 2rem;
	}

	&__location{
		font-size: 1.2rem;
		display: flex;
		align-items: center;
	}

	&__icon-location{
		margin-right: .5rem;
	}

	&__rating{
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;

		background-color: var(--color-primary);
		align-self: stretch;
		color: #fff;
		margin-left: 3rem;
		padding: 0 2.25rem;
	}

	&__rating-average{
		font-size: 2.25rem;
		font-weight: 300;
		margin-bottom: -3px;
	}

	&__rating-count{
		font-size: .8rem;
		text-transform: uppercase;
	}
}

.btn-inline{
	border: none;
	color: var(--color-primary);
	font-size: inherit;
	border-bottom: 1px solid var(--color-primary);
	cursor: pointer;
	padding-bottom: 2px;
	display: inline-block;
	background-color: transparent;
	transition: all .2s;

	&:hover{
		color: var(--color-grey-dark-1);
		border-color: var(--color-grey-dark-1);
	}

	&:focus{
		outline: none;
		animation: pulsate 1s infinite;
	}
}